@tailwind components;
@tailwind utilities;
.van-button__text {
  display: inline-flex;
  align-items: center;
}

.van-tabs.h-full {
  .van-tabs__content {
    height: calc(100% - var(--van-tabs-line-height));
  }

  .van-tab__panel {
    height: 100%;
  }
}

/* 禁用下拉刷新 */
html,
body {
  overscroll-behavior-y: contain;
}
