---
import NavBar from "@view/NavBar/index.vue";
import BaseLayout from "./BaseLayout.astro";
---
<BaseLayout>
  <div class="h-screen grid" style="grid-template-rows: min-content 1fr">
    <NavBar client:load></NavBar>
    <div class="overflow-y-scroll">
      <slot/>
    </div>
  </div>
</BaseLayout>