---
import '@blog/ui/style.css';
import './../global.css';
import { Header, Container, Footer } from '@blog/ui';
---

<html lang="cn">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class="h-screen">
    <div class="grid h-screen gap-2" style="grid-template-rows: min-content 1fr min-content;">
      <Header title="日程安排" left-arrow={false} left-text="" />
      <Container class="overflow-y-auto">
        <slot />
      </Container>
      <slot name="footer" />
    </div>
  </body>
</html>
