---
import '@blog/ui/style.css';
import '@blog/font/index.css';
import './../global.css';
import 'qweather-icons/font/qweather-icons.css';
import { Header, Container, Footer } from '@blog/ui';
import { imageConfig } from 'astro:assets';
const { hasBack = false, title = '' } = Astro.props;
---

<html lang="cn">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class="h-screen">
    <Container class="overflow-y-auto">
      <Fragment slot="header">
        <Header client:load title={title} left-arrow={hasBack} left-text="" />
      </Fragment>
      <slot />
      <Fragment slot="footer">
        <slot name="footer" #footer />
      </Fragment>
    </Container>
  </body>
</html>
