---
import '@blog/ui/style.css';
import './../global.css';
import { Header, Container, Footer } from '@blog/ui';
---

<html lang="cn">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class="h-screen">
    <Container class="overflow-y-auto">
      <Fragment slot="header">
        <Header title="日程安排" left-arrow={false} left-text="" />
      </Fragment>
      <slot />
      <Fragment slot="footer">
        <slot name="footer" #footer />
      </Fragment>
    </Container>
  </body>
</html>
